# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env
.venv/

# Streamlit config
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# VS Code settings
.vscode/
